.Cell {
  border-style: none;
  display: block;
  width: 20px;
  height: 20px;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  background-color: gray;
}

.Cell.DEFAULT {
  cursor: pointer;
}

.Cell.REVEALED {
  background-color: lightGray;
}

.Cell.FLAGGED {
  cursor: pointer;
  color: red;
}
